In [1]:
import yfinance as yf
from datetime import datetime
import pandas_datareader.data as web
import os
os.environ["IEX_API_KEY"] = "pk_f5039a4f570e47c380fe2315143c0bad"
os.environ["ALPHAVANTAGE_API_KEY"] = "VYUAGQZBBAGICHHH"

/home/rdlu/.virtualenvs/exercises-env/lib/python3.8/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [6]:
msft = yf.Ticker("MXRF11.SA")
msft

yfinance.Ticker object <MXRF11.SA>

In [9]:
msft.history(period='1y')

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2019-05-06  11.40  11.42  11.30  11.38   70306          0             0
2019-05-07  11.37  11.39  11.31  11.38   57238          0             0
2019-05-08  11.39  11.43  11.37  11.40   46934          0             0
2019-05-09  11.40  11.44  11.31  11.39   67047          0             0
2019-05-10  11.39  11.50  11.38  11.40   52593          0             0
...           ...    ...    ...    ...     ...        ...           ...
2020-04-28  10.00  10.04   9.95  10.00  295052          0             0
2020-04-29  10.03  10.10   9.92  10.06  505615          0             0
2020-04-30  10.08  10.19  10.00  10.13  553112          0             0
2020-05-04  10.00  10.02   9.81   9.99  575246          0             0
2020-05-05   9.98  10.00   9.88   9.98  353532          0             0

[248 rows x 7 columns]

In [2]:
f = web.DataReader("MXRF11.SA", "av-daily",
                   start=datetime(2020, 1, 1), end=datetime(2020, 5, 5),
                   api_key=os.getenv('ALPHAVANTAGE_API_KEY'))
f

             open   high    low  close   volume
2020-01-02  14.30  14.45  13.99  14.12   389721
2020-01-03  13.90  14.07  13.58  13.75   507410
2020-01-06  13.15  13.49  13.03  13.16  2004311
2020-01-07  13.20  13.22  12.80  12.94  1042654
2020-01-08  12.94  12.94  12.30  12.50  1189096
...           ...    ...    ...    ...      ...
2020-04-28  10.00  10.04   9.95  10.00   295052
2020-04-29  10.03  10.10   9.92  10.06   505615
2020-04-30  10.08  10.19  10.00  10.13   553112
2020-05-04  10.00  10.02   9.81   9.99   575246
2020-05-05   9.98  10.00   9.88   9.98   353532

[83 rows x 5 columns]

In [4]:
g = web.DataReader("MXRF11.SA", "av-intraday", api_key=os.getenv('ALPHAVANTAGE_API_KEY'))
g

                      open   high   low  close  volume
2020-05-04 09:12:00  10.00  10.02  9.98   9.98       0
2020-05-04 09:13:00   9.98   9.98  9.93   9.96    3405
2020-05-04 09:14:00   9.98   9.98  9.95   9.97    2975
2020-05-04 09:15:00   9.98   9.99  9.97   9.97     255
2020-05-04 09:16:00   9.99   9.99  9.97   9.98     566
...                    ...    ...   ...    ...     ...
2020-05-05 15:50:00  10.00  10.00  9.99   9.99    1233
2020-05-05 15:51:00  10.00  10.00  9.99   9.99       0
2020-05-05 15:52:00  10.00  10.00  9.99  10.00     143
2020-05-05 15:53:00  10.00  10.00  9.98  10.00     153
2020-05-05 15:54:00   9.98  10.00  9.98   9.98     884

[802 rows x 5 columns]

In [9]:
# g['open'][0]
g.iloc[-1]

open        9.98
high       10.00
low         9.98
close       9.98
volume    884.00
Name: 2020-05-05 15:54:00, dtype: float64